 <div id="stTab-1" class="stTab stTab--active stTab-1" ng-controller="employeesController">
          <section id="banner" class="banner text-center scBlk scBlk--mid scBlk--p">
            <div class="secBlk__inner">
              <h2>Update Employee</h2>
            </div>
          </section>
          <section id="epForm" class="epForm scBlk scBlk--p">
            <div class="frm frmWrap">
              <div class="frm__head">
              <h1>{{message}}</h1><br><br>
                <h4 class="text-uppercase">Update Employee</h4>
              </div>
              <form class="frmRow">
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="fname">Name</label>
                    <input id="fname" type="text" class="frmInput" value ={{employeeD.name}} placeholder="" ng-model="employeeD.name" />
                  </div>
                </div>
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="fid">Employee ID</label>
                    <input id="fid" value ={{employeeD.empId}} type="number" class="frmInput" placeholder="" ng-model="employeeD.empId" />
                  </div>
                </div>
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="femail">Email</label>
                    <input id="femail" value ={{employeeD.email}} type="email" class="frmInput" placeholder="" ng-model="employeeD.email" />
                  </div>
                </div>
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="frole">Department</label>
                    <input id="frole" value ={{employeeD.department}} type="text" class="frmInput" placeholder="" ng-model="employeeD.department" />
                  </div>
                </div>
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="fstatus">Salary</label>
                    <input id="fstatus" value ={{employeeD.salary}} type="select" class="frmInput" placeholder="" ng-model="employeeD.salary" />
                  </div>
                </div>
                <div class="frmCol frmCol__half">
                  <div class="frmGrp">
                    <label for="fcontact">Contact</label>
                    <input id="fcontact" value ={{employeeD.contactNo}} type="number" class="frmInput" placeholder="" ng-model="employeeD.contactNo"/>
                  </div>
                </div>
                <div class="frmCol frmCol__full btnWrap">
                  <button type="button" class="btn btn-primary" ng-click="updateEmployee()">Update</button>
                </div>
              </form>
            </div>
          </section>
        </div>