@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;500;600&display=swap');
*{
  margin:0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus{
  outline: none;
}
html{
  font-size: 10px;
}
html,body{
  width:100%;
  min-height:100vh;
}
html,body,.cwrap{
  min-height:100vh;
}

html,body{
  font-family: 'Lato', sans-serif;
}

body{
  font-size: 1.5rem;
  color:#34495e;
  line-height: 1.5;
}
a,.btn,button, input{
  -webkit-transition: all ease-in-out 350ms;
  -moz-transition: all ease-in-out 350ms;
  transition: all ease-in-out 350ms;
  cursor: pointer;
}
a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.text-uppercase{
  text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  color:#34495e;
}

h1{
  font-size: 3.2rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2.5rem;
}
h4{
  font-size: 2rem;
}
h5{
  font-size: 1.8rem;
}
h6{
  font-size: 1.2rem;
}

/* Form */
.frmRow{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.frmCol{
  padding-left: 15px;
  padding-right: 15px;
}
.frmCol__half{
  flex: 0 0 50%;
  max-width: 50%;
}
.frmCol__full{
  flex: 0 0 100%;
  max-width: 100%;
}
.frmGrp{
  margin-bottom: 1.4rem;
}
.frmGrp label{
  display: block;
  padding-bottom: 0.6rem;
  font-weight: 600;
}

.frmInput{
  width: 100%;
  border: 1px solid #efefff;
  padding: 0.8rem 0.8rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.btn{
  font-size: 1.6rem;
  background-color: #ccc;
  color: #34495e;
  padding: 0.8rem 2rem;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:hover{
  opacity: 0.8;
}

.btn-primary{
  background-color: #34495e;
  color: #A9D2D5;
}

.btnWrap{
  padding-top: 1.5rem;
}

.cwrap{
  background-color: #fafafa;
}

.cwrap,
.scBlk{
  display: flex;
  flex-wrap: wrap;
}
.scBlk--p{
  padding: 7rem 0;
}
.scBlk--mid{
  justify-content: center;
  align-items: center;
}
.text-center{
  text-align: center;
}

/* Tabs */
.stTab{
  display: none;
}
.stTab--active{
  display: block;
}

/* Aside */
.sAside{
  flex: 0 0 250px;
  max-width: 250px;
  background-color: #34495e;
  border-right: 1px solid rgba(255,255,255,0.1);
}
.srtMain{
  flex-basis: calc(100% - 250px);
}

.sAside a{
  color: #A9D2D5;
  font-size: 1.5rem;
}
.sAside a:hover{
  color: #EAF2F2;
}
.logo{
  padding: 20px 15px;
  background-color: rgba(255,255,255,0.1);
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 25px;
}
.logo a{
  text-transform: uppercase;
  font-size: 1.8rem;
}

.sAside li{
  padding: 20px 15px;
  letter-spacing: 1.5px;
}
.sAside li+li{
  border-top:1px solid rgba(255,255,255,0.1)
}

/* Banner */
.banner{
  background-color: #A9D2D5;
}
.banner h2{
  margin-bottom: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Employee Form */
.epForm{
  overflow-x: hidden;
}
.frmWrap{
  padding: 0 15px;
}
.epForm .frm{
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.epForm .frm .frm__head{
  margin-bottom: 2rem;
}

/* Data Table */
.sDtbl .dataTables_wrapper{
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.tblWrap tr td{
	padding:10px;
	cursor: pointer;
}
#dtable tr th{
	cursor: pointer;
}
/*This class displays the UP arrow*/
.arrow-up {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 10px solid black;
     display:inline-block;
}

/*This class displays the DOWN arrow*/
.arrow-down {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 10px solid black;
     display:inline-block;
}
.page-item.active .page-link{
  background-color: #34495e;
  border-color: #34495e;
}
.page-link{
  color: #34495e;
}
.page-link:hover{
  color: #34495e;
}

/* Login */
.lgnForm .frm{
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
